# Database
DATABASE_URL="postgresql://user:password@localhost:5432/a1nt"

# Auth (TBD)
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"

# Payments (TBD)
# STRIPE_SECRET_KEY=""
# STRIPE_PUBLISHABLE_KEY=""
